
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:sans-serif;
    text-transform: uppercase;
   
}

label {
    text-transform: capitalize;
    font-weight: 600;
}

h1#heading {
    text-align: center;
    margin-top: 50px;
    color: black;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 24, 22);
}

.container {
    width: 650px;
    height: 500px;
    background-color: rgb(77, 77, 136);
    border-radius: 30px;
}
#content {
    display: flex;
    margin: 15px auto 0px auto;
    width: 80%;
    text-align: center;
    background-color: aqua;
    box-shadow: 0px 10px 10px black;
    padding: 20px;
    border-radius: 20px;
}

.content-1 {
    display: inline-block;
}

.content-2 {
    padding: 5px 10px;
    margin: 10px;
    font-size: 10px;
    font-weight: 600px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}